@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 0.5rem;
}

body {
    font-family: "Poppins", sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a10d0d;
    padding: 20px 30px;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-title {
    font-size: 20px;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-user {
    margin-left: 5px;
}

.navbar-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 24px;
}

.wrapper {
    display: flex;
    height: auto;
}
.main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}
#sidebar {
    width: 200px;
    min-width: 200px;
    z-index: 1000;
    transition: width 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #2c3539;
}
#sidebar.expand {
    width: 200px;
    min-width: 200px;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}
#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0.5rem 0.3rem;
    display: none;
}
#toggle-btn.show {
    display: block;
}

#toggle-btn i {
    font-size: 1.3rem;
    color: #fff;
}
.sidebar-logo {
    margin: auto 0;
}
.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}
#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s linear;
}
.sidebar-nav {
    padding: 0.2rem 0;
    flex: 1 1 auto;
}
a.sidebar-link {
    padding: 0.4rem 1rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: 0.3rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item {
    position: relative;
    transition: transform 0.3s ease;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
    #sidebar {
        width: 60px;
        min-width: 60px;
    }
    #toggle-btn {
        display: block;
    }
}


#nprogress .bar {
    background: #3b7ddd; /* Change this to your desired color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Customize the thickness of the bar */
    z-index: 1031; /* Make sure it's on top of the sidebar */
}

#nprogress .peg {
    box-shadow: 0 0 10px #3b7ddd, 0 0 5px #3b7ddd; /* Customize the shadow */
}

#nprogress .spinner {
    display: none; /* Hide the spinner */
}

/* Positioning NProgress bar inside the sidebar */
.sidebar {
    position: relative; /* Ensure the sidebar has relative positioning */
}

.sidebar #nprogress .bar {
    position: fixed; /* Fix it to the sidebar */
    width: calc(100% - 50px); /* Adjust the width based on the sidebar width */
    margin-left: 50px; /* Adjust to align with sidebar */
}


.colored-toast.swal2-icon-success {
    background-color: #3a8f09 !important;
}
.colored-toast.swal2-icon-error {
    background-color: #ad1111 !important;
}
.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}
.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}
.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}
.colored-toast .swal2-title {
    color: white;
}
.colored-toast .swal2-close {
    color: white;
}
.colored-toast .swal2-html-container {
    color: white;
}
